[Unit]
Description=GeoMaxima Watchdog Check
Documentation=https://github.com/peshovp/GeoMaxima-BS

[Service]
Type=oneshot
User=root
WorkingDirectory={script_path}/addons/tools
ExecStart={python_path} {script_path}/addons/tools/run_watchdog_check.py
StandardOutput=journal
StandardError=journal

# Restart policy
Restart=no

[Install]
WantedBy=multi-user.target
